body,html{
    height: 100vh;
    background-color:hsl(185, 75%, 39%);
    margin: 0;
    padding: 0;
}
.main-div{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.img-top{
    margin-top: -40%;
    margin-left: -30%;
}
.img-bottom{
    margin-left:48%;
    margin-top:-6%;
}
.profile-main{
    margin: 0;
    width: 400px;
    height:420px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 12px !important; 
    box-shadow: 2px 2px 4px 1px hsl(185, 75%, 39%),-2px 0px 4px 1px hsl(185, 75%, 39%);
}
.img-card{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.img-pic{
    border-radius: 50%;
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
}
.name{
    margin:0;
    font-family:"Kumbh Sans";
    position:absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top:95px;
    color: hsl(229, 23%, 23%);
    font-size: 20px;
}
.p-city{
    margin:0;
    font-family:"Kumbh Sans";
    position:absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top:135px;
    color: hsl(0, 0%, 59%);
    font-size: 20px;
}
hr{
    margin-top: 180px;
    border: 0.1px solid hsl(0, 0%, 59%);
    opacity: 25%;
}
.stats{
    position: absolute;
    margin:0;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    font-family: "Kumbh Sans";
    font-weight: 700;
    font-size: 20px;
    color: hsl(229, 23%, 23%);
}
.td-1{
    margin:auto;
    padding: 35px;
    text-align: left;
}
#stats-2{
    margin-top:40px ;
    font-weight: 400;
    font-size: 14px;
    color: hsl(0, 0%, 59%);
    margin-left: -6px;
}

@media screen and (max-width:375px) {
.profile-main{
    margin: 0;
    width: 350px;
    height:420px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 12px !important; 
    box-shadow: 2px 2px 4px 1px hsl(185, 75%, 39%),-2px 0px 4px 1px hsl(185, 75%, 39%);
}
.main-div{
    width: 375px;
    overflow: hidden;
    position: relative;
}
.img-top{
    margin-top: -40%;
    margin-left: -30%;
    width: 85%;
}
.img-bottom{
    margin-left:48%;
    margin-top:-6%;
}
    
}